version: "3.7"
services:
    #PHP Service
    ms-el2:
        build:
            context: .
            dockerfile: Dockerfile
        image: ms-el2/php
        container_name: app-ms-el2
        restart: unless-stopped
        tty: true
        environment:
            SERVICE_NAME: app
            SERVICE_TAGS: dev
        working_dir: /var/www
        volumes:
            - /tmp:/tmp # for php-cs-fixer
            - ./:/var/www
            - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
        networks:
            - app-ms-el2-network
            - nginxproxyman
            - sqldev-backend
        ports:
            # smtp tls
            #- 217.114.43.138:587:587
            #- 217.114.43.138:2222:22
            # vite node.js server
            - 217.114.43.138:5173:5173

    #Nginx Service
    ms-el2-webserver:
        image: nginx:alpine
        container_name: webserver-ms-el2
        restart: unless-stopped
        tty: true
        #ports:
        #    - 217.114.43.138:80:80
        #    - 217.114.43.138:443:443
        volumes:
            - ./:/var/www
            - ./nginx/conf.d/:/etc/nginx/conf.d/
        networks:
            - app-ms-el2-network
            - nginxproxyman

    #MySQL Service
    # db-ms-el2:
    #     image: mysql:8.0.34
    #     container_name: db-ms-el2
    #     restart: unless-stopped
    #     tty: true
    #     ports:
    #         - 127.0.0.1:33356:3306
    #     environment:
    #         MYSQL_DATABASE: ${DB_DATABASE}
    #         MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    #         SERVICE_TAGS: dev
    #         SERVICE_NAME: mysql
    #         APP_DB_USERNAME: ${DB_USERNAME}
    #         APP_DB_PASSWORD: ${DB_PASSWORD}
    #         TZ: Europe/Moscow
    #     volumes:
    #         - dbdata-ms-el2:/var/lib/mysql
    #         - ./mysql/my.cnf:/etc/mysql/my.cnf
    #     networks:
    #         - app-ms-el2-network

#Docker Networks
networks:
    app-ms-el2-network:
        driver: bridge
    nginxproxyman:
        external: true
        name: nginxproxyman
    sqldev-backend:
        external: true
        name: sqldev-backend

#Volumes
volumes:
    dbdata-ms-el2:
        driver: local
